html{
    font-family: 'poppins';
}
.container{
    margin: 2% 7% 0% 7%;
    width: 85%;
}

/* styling the home page */
.head-stuffs{
    display: flex;
    justify-content: space-between;
}

.logo-img {
    width: 200px;
    height: auto;
}


/*About Section Index.html file
==========================================================*/

.main-about{
    margin: 0px;
    display: flex;
    width: 85%;
    margin-top: 10%;
    margin-bottom: 5%;
    gap: 2em;
}

.main-about-left p{
    border-bottom: 2px solid #03016c;
    padding-bottom: 20px;
    padding-top: 0px;
}


.main-about-left{
    width: 60%;
}

.sub-main-about-left{
    display: flex;
    gap: 3em;
    padding: 0px;
    margin: 0px;
}

ul.about-section-list{
    /* list-style-type: circle; */
    padding: 0px;
    margin: 0px;
}

.sub-left h3, .sub-right h3{
    margin: 0px;
    font-size: 2rem;
    color: #03016c;
}

.main-about-right{
    width: 35%;
    margin: 0px;

}

.main-about-right img{
    width: 550px;
    height: auto;
    
}

.main-hero{
    background-color: #03016c;
}

/* This styling is made to style all items that has the { ul } element accros the site */
ul.common-styling{
    display: inline-flex;
    list-style-type: none;
    background-color: transparent;
    gap: 2em;
}


 ul.common-styling li a{
    text-decoration: none;
    color: #03016c;
    word-spacing: 2em;
}

ul.common-styling li a:hover{
    border-bottom: 2px solid #e21012; 
}

/* Registration Page styling */
.banner{
    width: 100%;
}

.reg-head{
    text-align: center; 
    border-bottom: 2px solid #e21012;
    padding-bottom: 20px;
}

h2{
    margin:0px;
    padding-top: 50px;
    font-size: 3rem;
    color: #03016c;
}

.reg-para{
    color: #e21012;
    margin: 0px;
    border-width:medium;
    font-size: 1.3em;
}

.form-wrapper{
    margin-top: 70px;
    margin-bottom: 100px;
    display: flex;
    border-radius: 20px;
    /* gap: 1.5em; */
    align-items: center;
}


.main-img{
    width: 50%;
    height: auto;
    border-radius: 20px 0px 0px 20px;
}

.right-form{
    width: 50%;
    padding: 50px;
}

input, select{
    font-family: 'poppins';
    font-size: 15px;
    border:hidden;
    background-color: none;
    border-bottom: 2px solid grey;
    width: 100%;
    padding-top:10px;
    margin-bottom: 10px;
}

label{
    color: #03016c;
    font-size: 12px;
    text-transform: uppercase;
}


.reg-btn{
    background-color: #03016c;
    font-family: 'poppins';
    font-size: 15px;
    color: rgb(255, 255, 255);
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    border: none;
    width: 130px;
    cursor: pointer;
}

.reg-btn:hover{
    border: 2px solid #03016c;
    color: #03016c;
    background-color: transparent;
}


/* styling the footer element */

footer{
   max-width: 120%;
   margin: 0px;
   background-color:rgba(255, 228, 196, 0.7);
   padding: 40px 0px 20px 0px;
}

.first-footer{
    display: flex;
    justify-content: center;
    gap: 1em;
}

.copy-footer{
    color: grey;
    font-size: 12px;
    text-align: center;
}

.sub-input{
    width: 40%;
    border: 2px solid #03016c;
    border-radius: 5px;
    background-color: transparent ;
    padding: 10px;
    margin: 0px;
}


.second-footer{
    display: flex;
    justify-content: center;
    gap: 2em;
    background-color: #d9d9df;
    margin-top: 10px;
    
    
}







